
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "fonts/fontawesome";
@import "fonts/fa-solid";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.recipe-view-highlight {
  background: $body-bg-highlight;
  margin-bottom: 40px;
  padding: 15px 15px 0 3px;
}

.permalink-lede-image {
  background-size: cover;
  width: 100%;
  height: 0;
  padding: 70% 0 0 0;
  position: relative;
}